header
    .cits_section_nav
      nav.navbar.navbar-default
        .container
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand
              img.img-responsive(src='/img/logo.png')
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left.admin
              li
                h2 Taskmarket Platform
                i(style='font-size:1em;') The best tag line in the world !
            ul.nav.navbar-nav.navbar-right
              li
               a(href='/')(style='color:#D8D8D8') Home 
              li
               a(href='/contact')(style='color:#D8D8D8') Contact / Help
              li
               a(href='/pricing')(style='color:#D8D8D8') Pricing         
              li
               a(href='#')(style='color:#D8D8D8;') Admin                                                              
          // /.navbar-collapse
        // /.container

