extends ../layouts/default
block content
    .container-fluid
      .row
        .col-md-6(style='margin-left:5%;margin-right:5%;')
          .top_create
            a(href='') Create a new offer  
          br    
      .row
        .col(style='margin-left:5%;margin-right:5%;')
          nav.navbar.navbar-default
            .container
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='#') Browse the services offers near :
              // Collect the nav links, forms, and other content for toggling
              #navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/profile') My Location
                  li
                    a(href='/profile') My Profile
                  li
                    a(href='/myjobs') My Jobs
                  li
                    a(href='#') Help 
                  li
                    a(href='#') Contact
                  li
                    a.btn.btn-default.btn-outline.btn-circle.collapsed(data-toggle='collapse', href='#nav-collapse1', aria-expanded='false', aria-controls='nav-collapse1') Categories
                ul#nav-collapse1.collapse.nav.navbar-nav.nav-collapse
                  li
                    a.btn.btn-default.btn-outline.btn-circle.collapsed(data-toggle='collapse', href='#nav-collapse_domestic', aria-expanded='false', aria-controls='nav-collapse_domestic') Domestic Tasks
                  li
                    a.btn.btn-default.btn-outline.btn-circle.collapsed(data-toggle='collapse', href='#nav-collapse_2', aria-expanded='false', aria-controls='nav-collapse_2') Others Task Trees 
                ul#nav-collapse_domestic.collapse.nav.navbar-nav.nav-collapse
                  li
                    a(href='#') House Cleaning
                  li
                    a(href='#') Paint jobs
                  li
                    a(href='#') Animal/plants care
                ul#nav-collapse_2.collapse.nav.navbar-nav.nav-collapse
                  li
                    a(href='#') Other Task Sub-Category 1
                  li
                    a(href='#') Other Task Sub-Category 2
              // /.navbar-collapse
            // /.container
          // /.navbar
      .panel.panel-default(style='margin-left:4%;margin-right:4%;')
       .panel-heading Panel heading without title
       .panel-body         
        .row
          .col-md-3
            .offer.offer-default
              .offer-content
                h3.lead
                  | A default tasks request from employer
                p
                  | And a little description.
                  br
                  |  and so one
                                
      .panel.panel-default(style='margin-left:4%;margin-right:4%;')
       .panel-heading Panel heading without title
       .panel-body         
        .row
          .col-md-3
            .offer.offer-default
              .offer-content
                h3.lead
                  | A default tasks request from employer
                p
                  | And a little description.
                  br
                  |  and so one 

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='/js/jquery.flot.min.js')

