extends ../layouts/index
block content
      .panel.panel-primary(style='margin-left:5%;margin-right:5%;')
        .panel-heading
          h4.text-center
            | One Plan To Rule Them All
        .panel-body.text-center
          p.lead
            br
            strong No monthly costs. 10% transaction fee when you pay for your tasks. 
        ul.list-group.list-group-flush.text-center 
          li.list-group-item
            i.icon-ok.text-danger
            | Increase you trust factor with our peer-to-peer rating system
          li.list-group-item
            i.icon-ok.text-danger
            | Earn money in Bitcoin or direct payment via Paypal or credit card
          li.list-group-item
            i.icon-ok.text-danger
            | Hire or apply for an unlimited number of tasks  
          li.list-group-item
            i.icon-ok.text-danger
            | Unlimited messages
          li.list-group-item
            i.icon-ok.text-danger
            | Referral program including rewards in Bitcoin !
          li.list-group-item
            i.icon-ok.text-danger
            | Limited Support*
        .panel-footer
          i * For the beta version. 
          a.btn.btn-lg.btn-block.btn-primary(href='#')
            | LEARN ABOUT REWARDS !
