extends ../layouts/index
block content
    .container-fluid
      if info
        h4= info
      else
        h3 Register a your account !
      br
      form(role='form', action="/register-employee",method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='text', name="username", placeholder='Enter Username')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password')
        button.btn.btn-default(type='submit') Submit
        &nbsp;
        a(href='/')
          button.btn.btn-primary(type="button") Cancel

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==', crossorigin='anonymous')
